<!DOCTYPE html>
<html lang="tr" >
<head>
 	<meta charset="UTF-8">
	<title>GPS Trace</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript"></script>
	<link rel="stylesheet" href="http://www.nicefilo.com/style.css">
</head>
<body>
	<!-- partial:index.partial.html -->
	<div>
		<h1>GPS Trace</h1>
    		<sub>https://gps-traces.herokuapp.com/</sub>
	</div>
	<!-- partial -->
  	<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
	<script src="http://www.nicefilo.com//script.js"></script>
</body>
</html>